<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagens</title>
</head>
<body>
    <form action="/new" method="post">
        <label for="name">Nome:</label> <br>
        <input type="text" name="name" id="name" placeholder="Nome do usuario"><br>
        <label for="message">mensagem:</label> <br>
        <textarea name="message" id="message" placeholder="Escreva uma mensagen neste espaco"></textarea><br>
        <button type="submit">Enviar mensagem</button>
    </form>
</body>
</html>